# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    if a%2 != 0 or b%2 != 0:
        return max(a,b)
    else:
        return min(a,b)

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [19]:
def animal_crackers(text):
    return all(wrd[0]==text[0].lower() for wrd in text.lower().split())

In [20]:
# Check
animal_crackers('Levelheaded Llama')

True

In [21]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [24]:
def makes_twenty(n1,n2):
    if n1+n2==20:
        return True
    else:
        return False

In [25]:
# Check
makes_twenty(20,10)

False

In [26]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [57]:
def old_macdonald(name):
    return ''.join([y.upper() if x in[0,3] else y for x,y in enumerate(name)])

In [58]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [66]:
def master_yoda(text):
    return ' '.join([wrd for wrd in text.split()[::-1]])

In [67]:
# Check
master_yoda('I am home')

'home am I'

In [68]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    return any(abs(x-n)<=10 for x in [100,200])

In [78]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [109]:
def has_33(nums):
    cl= [x==3 for x in nums]
    return any(cl[x] and cl[x+1] for x in range(len(cl)-1))

In [110]:
# Check
has_33([1, 3, 3])

True

In [111]:
# Check
has_33([1, 3, 1, 3])

False

In [112]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [119]:
def paper_doll(text):
    return ''.join([x*3 for x in text])

In [120]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [121]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [122]:
a,b,c = 5,9,11
ll = [a,b,c]
ll

[5, 9, 11]

In [141]:
def blackjack(a,b,c):
    total = sum([x if x<=10 else x-10 for x in [a,b,c]])
    return (total if total <= 21 else 'BUZZ')

In [142]:
# Check
blackjack(5,6,7)

18

In [143]:
# Check
blackjack(9,9,9)

'BUZZ'

In [144]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
nu = [4, 5, 6, 7, 8, 9]
[x for x in nu]

In [149]:
def summer_69(arr):
    flg = True
    nl =[]
    for x in arr:
        if x == 6 :
            flg = False
        elif x == 9 :
            flg = True
            
        if flg and x!=9:
            nl.append(x)
    return sum(nl)

In [150]:
# Check
summer_69([1, 3, 5])

9

In [155]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [152]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [179]:
def spy_game(nums):
    return ''.join([str(x) for x in nums if x in [0,7]])=='007'
# import itertools
# si = iter(['abcd', 'e', 'fg', 'hijklmn', 'opq', 'r'])
# print([c+next(si, '') for c in si])

In [180]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [181]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [182]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!